/*pop-up*/
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 9999;
}


/* Rectangle 1 */
.rectangle1{
position: absolute;
width: 380px;
height: 379px;
left: 0px;
top: 88px;

background: #FFFFFF;
border-radius: 39px;
}

/* Briefly */
.briefly{
    position: absolute;
    width: 258px;
    height: 72px;
    left: 82px;
    top: 183px;
    
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    
    color: #2D4EFF;
}

 /* Create an account to save your progress! */
.create-new-account{
position: absolute;
width: 210px;
height: 34px;
left: 82px;
top: 247px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 17px;
text-align: center;

color: #000000;
}

/* sign-up button */

.sign-up-button{
position: absolute;
width: 111px;
height: 36px;
left: 135px;
top: 302px;
}

/*Already have an account? Sign in*/
.log-in{
position: absolute;
width: 175px;
height: 26px;
left: 106px;
top: 359px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 14px;
text-align: center;

color: #000000;
}



