/*pop-up*/
.popup{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 380px;
height: 379px;
left: 0px;
top: 88px;

background: #FFFFFF;
border-radius: 39px;
}

/* Sign-in/Log-in */

.sinlin{
position: relative;
width: 380px;
height: 467px;
}

/* Rectangle 1
.rectangle1{
position: flex;
width: 380px;
height: 379px;
left: 0px;
top: 88px;

background: #FFFFFF;
border-radius: 39px;
}
*/

/* Briefly */
.briefly{
    position: absolute;
    left: 190px;
    width: 258px;
    height: 72px;
    top: 50px;
    
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    
    color: #2D4EFF;
}

 /* Create an account to save your progress! */
.create-new-account{
position: flex;
width: 210px;
height: 34px;
left: 82px;
top: 247px;

font-family: 'Inconsolata', monospace;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 17px;
text-align: center;

color: #000000;
}

/* sign-up button */

.sign-up-button{
    position: flex;
    left: 5.41%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #2D4EFF;
    border-radius: 39px;
    border: 0;

    width: 105px;
    height: 36px;

    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.88px;
    text-align: center;
    color: white   
}

/*Already have an account? Sign in*/
.log-in{
width: 175px;
height: 26px;
left: 106px;
top: 359px;

font-family: 'Inconsolata', monospace;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 14px;
text-align: center;

color: #000000;
}



